.product__item {
	border-radius: 0.625rem;
	background-color: #f1f1f1;
	border-radius: 2rem;
	margin: 0.75rem 0.25rem;
	overflow: hidden;
	transform: scale(1);
	transition: 0.125s ease;
}

@media (min-width: 40em) {
	.product__item {
		margin: 0;
	}
}

.product__item:hover {
	transform: scale(1.00625);
	box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
}

.product__link {
	height: 100%;
	display: flex;
	font-size: 1.25rem;
	line-height: 1.6875rem;
}

.product__item__media {
	order: 1;
	flex: 0 0 30%;
	overflow: hidden;
}

.product__item__media > img {
	object-fit: cover;
	object-position: center;
	height: 100%;
}

.product__item__info {
	flex-grow: 1;
	min-height: 100%;
	padding: 2.0625rem 2rem 1.25rem;
	display: flex;
	flex-direction: column;
}

.product__item__name {
	font-weight: bold;
	margin: 0 0 0.75rem;
}

.product__item__description {
	flex-grow: 1;
	margin: 0 0 1.35rem;
	font-size: 0.9rem;
	line-height: 1.2rem;
}

.product__item__more {
	color: #f8a170;
	font-size: 0.9rem;
}

.product__item:hover .product__item__more {
	text-decoration: underline;
}
